* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.page {
  width: 100%;
}

.home {
  height: 120vh;
  width: 84%;
  background-color: orange;
  margin: auto;
}

.notice-box {
  width: 100%;
  background-color: #d9edf7;
  border-left: 6px solid #bcdff1;
}

/* notice-bar */
.notice {
  display: flex;
  justify-content: space-between;
}

.close-button {
  border: none;
  font-size: 12px;
  background-color: transparent;
}

.n-h3 {
  font-size: 18px;
  color: #31708f;
}

.pop-ads {
  font-size: 13px;
  color: #727296;
}

/* adsdivs */

.adsdivs {
  margin-top: 1vh;
}

.b1 {
  height: 42vh;
  width: 80%;
  background-color: red;
}
.b2 {
  height: 42vh;
  width: 100%;
  background-color: blue;
  padding-top: 6px;
}

.inner-adsdiv {
  height: 40vh;
  width: 55%;
  background-color: white;
  margin: auto;
}

.AdsDivs2 {
  height: 34vh;
  width: 100%;
  background-color: rgb(245, 15, 15);
}

.s-b1 {
  height: 15vh;
  width: 100%;
  background-color: orange;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.s-b2 {
  height: 15vh;
  width: 100%;
  background-color: rgb(110, 108, 103);
}
