* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.YT-Trailer {
  height: 67vh;
  width: 100%;
  margin-bottom: 2vh;
}

.download-size {
  height: 13vh;
  width: 99%;
  background-color: #d9edf7;
  border-left: 10px solid #bcdff1;
  padding-top: 3vh;
  margin-bottom: 1vh;
}

.Recommend {
  padding: 2vh;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 4vh;
}

.Recommend-movie {
  width: 100%;
  border-bottom: 1px solid #f5ebeb;
}

.R-video {
  padding: 45vh 0;
  width: 70%;
  margin: auto;
}

.Tags {
  padding: 1.5vh;
  width: 100%;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.UMAL {
  width: 100%;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.Recommended_movies {
  width: 100%;
}

/* media query */

@media screen and (max-width: 1024px) and (min-width: 959px) {
  .YT-Trailer {
    height: 38vh;
    width: 100%;
  }

  .R-video {
    padding: 42vh 0;
    width: 95%;
  }

  .Recommend {
    font-size: 30px;
  }
}

@media screen and (max-width: 958px) and (min-width: 768px) {
  .YT-Trailer {
    height: 38vh;
    width: 100%;
  }

  .R-video {
    padding: 42vh 0;
    width: 95%;
  }

  .Recommend {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .YT-Trailer {
    height: 30vh;
    width: 100%;
  }
  .R-video {
    padding: 30vh 0;
    width: 95%;
  }
}
