* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.movie-menu-page {
  width: 100%;
}

.movie-menu-innerpage {
  width: 84%;
  margin: auto;
  padding-top: 8vh;
  padding-bottom: 2vh;
}

.s-b2 {
  margin-bottom: 5vh;
}

.ads-div {
  width: 95%;
  margin: auto;
  padding-top: 0.3vh;
}

.ab2 {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.inner-adsdiv1 {
  height: 40vh;
  width: 35%;
  background-color: #e6cd28;
  margin: auto;
  margin-bottom: 3vh;
}

.popular-m {
  width: 100%;
  margin-top: 2vh;
}

.p-tittles {
  width: 98%;
  margin: auto;
}

.popular-movie {
  width: 98.5%;
  margin: auto;
}

.popular-movie {
  margin-bottom: 4vh;
}
