* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.YT-Trailer {
  height: 67vh;
  width: 100%;
  margin-bottom: 2vh;
}

.download-size {
  height: 13vh;
  width: 99%;
  background-color: #d9edf7;
  border-left: 10px solid #bcdff1;
  padding-top: 3vh;
  margin-bottom: 1vh;
}
