* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.mobile-navbar {
  display: none;
}

.navbar {
  padding: 1vh 5.5vw !important;
  background-color: white;
  border-bottom: 1px solid rgba(223, 220, 220, 0.903);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .left .logo-container {
  width: 10vw;
  height: 20vh;
  background-color: rgb(86, 166, 245);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.navbar .right a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.756);
  margin-left: 3vw;
  font-weight: 500;
  font-size: 15px;
}

/* .dropdown-container {
  display: none;
} */

/* media-query section */
@media screen and (max-width: 1024px) {
  .navbar {
    display: none !important;
  }

  .mobile-navbar {
    padding: 1vh 5.5vw;
    background-color: white;
    border-bottom: 1px solid rgba(223, 220, 220, 0.903);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Ensures it stays in place */
  }

  .mobile-navbar .left .logo-container {
    width: 20vw;
    height: 15vh;
    background-color: rgb(86, 166, 245);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }

  .mobile-navbar .left .logo-container h2 {
    /* font-size: 40px; */
    font-weight: bolder;
  }

  .mobile-navbar .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  .dropdown-container {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 430px) {
  .mobile-navbar {
    padding: 1vh 5.5vw;
    background-color: white;
    border-bottom: 1px solid rgba(223, 220, 220, 0.903);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-navbar .left .logo-container {
    width: 30vw;
    height: 15vh;
  }

  .mobile-navbar .left .logo-container h2 {
    font-size: 27px;
    font-weight: bolder;
  }
}
