* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  width: 89%;
  max-width: 89%;
  padding-top: 6vh;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.Grid-1 {
  padding-bottom: 4vh;
  width: 100%;
  max-width: 100%;
  background-color: white;
  border-right: 1px solid #f5ebeb;
}

.pagination {
  margin-left: 58%;
}

.movie-box {
  width: 98%;
  max-width: 98%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f5ebeb;
}

.custom-div {
  padding: 45vh 0;
  width: 46%;
  max-width: 45%;
}

.tittle-div {
  width: 50%;
  max-width: 50%;
  height: auto;
  margin-top: 34vh;
}

.T-div {
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  color: blue;
  font-weight: 600;
}

.M-tittle {
  width: 100%;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 600;
}

.M-tittle:hover {
  transition: 0.5s ease-in-out;
  color: blue;
  cursor: pointer;
}

.paragraph {
  width: 100%;
  margin-bottom: 15px;
  font-weight: 600;
}

.blog-entry {
  border-top: 1px solid #f5ebeb;
  padding-top: 1.7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.msg {
  display: flex;
  text-align: center;
}

.CommentIcon {
  color: gray;
  font-size: 12px;
}

.cf {
  font-size: 13px;
  font-weight: 500;
  color: gray;
}

.date {
  font-size: 12px;
  font-weight: 500;
  color: gray;
}

.Grid-2 {
  height: 90vh;
  width: 100%;
  max-width: 100%;
}

.searchbar {
  width: 85%;
  max-width: 85%;
  margin-left: 15%;
}

.S-button {
  padding: 1vh;
  width: 100%;
  border: 1px solid rgb(190, 187, 187);
  margin-bottom: 7vh;
}

.S-button:focus {
  outline: none;
}

.dis {
  font-size: 12px;
  font-weight: 100;
  width: 100%;
  padding: 0.1vh;
  margin-bottom: 4vh;
  border-left: 4px solid #0099ff; /* Blue left border */
  padding-left: 8px; /* Space between text and border */
}

.p-tag {
  font-weight: 0px;
  width: 100%;
  font-size: 12px;
  margin-bottom: 8vh;
}

.click {
  border: none;
  background-color: transparent;
}

.movie-detail {
  height: 150vh;
}

.grid-d {
  padding-bottom: 3vh;
}

.scroll-to-top {
  position: fixed;
  bottom: 18px;
  right: 18px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  display: none;
}

.scroll-to-top.visible {
  display: block;
}

.scroll-to-top:hover {
  background: #0056b3;
}

/* Add a minimum width to prevent shrinking */
.custom-div,
.tittle-div,
.Grid-2 {
  min-width: 300px; /* Adjust this value as needed */
}

/* Media Query Adjustments */
/* For screens between 1024px and 958px */
@media screen and (max-width: 1024px) and (min-width: 959px) {
  .App {
    display: block;
  }

  .CommentIcon {
    font-size: 18px;
  }

  .tittle-div {
    margin-top: 18vh;
  }

  .custom-div {
    padding: 23vh 23%;
  }

  .searchbar {
    width: 100%;
    max-width: 100%;
    margin-left: 0%;
  }

  .scroll-to-top:hover {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    );
  }

  .movie-box {
    border-bottom: none;
  }

  .Grid-1 {
    border-right: none;
  }
}

/* For screens between 958px and 768px */
@media screen and (max-width: 958px) and (min-width: 769px) {
  .App {
    display: block;
  }

  .tittle-div {
    margin-top: 18vh;
  }

  .custom-div {
    padding: 23vh 20%;
  }

  .movie-box {
    border-bottom: none;
  }

  .CommentIcon {
    font-size: 18px;
  }
  .searchbar {
    width: 100%;
    max-width: 100%;
    margin-left: 0%;
  }
  .scroll-to-top:hover {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    );
  }

  .Grid-1 {
    border-right: none;
  }
}

@media screen and (max-width: 769px) {
  .App {
    display: block;
  }
  .movie-box {
    display: block;
    width: 100%;
    max-width: 100%;
    border-bottom: none;
  }

  .tittle-div {
    width: 100%;
    max-width: 100%;
    margin-top: 2vh;
    min-width: 300px;
  }

  .custom-div {
    padding: 38vh 0;
    width: 100%;
    max-width: 100%;
    min-width: 300px;
  }

  .Grid-2 {
    width: 100%;
    max-width: 100%;
    min-width: 300px;
  }

  .pagination {
    margin-left: 40%;
  }

  .CommentIcon {
    font-size: 18px;
  }
  .searchbar {
    width: 100%;
    max-width: 100%;
    margin-left: 0%;
  }

  .scroll-to-top {
    position: fixed;
    bottom: 1px;
    right: 0px;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    );
    color: white;
    border: none;
    padding: 1px 5px;
    cursor: pointer;
    font-size: 20px;
    display: none;
  }

  .scroll-to-top:hover {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    );
  }

  .Grid-1 {
    border-right: none;
  }
}
